* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

main {
  width: 100%;
  height: 100vh;
  background-color: rgb(236, 242, 248);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1000px;
  max-height: 630px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 40% 60%);
  margin: 0 90px;

  & img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }

  & .data {
    padding: 35px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
  }

  & .text {
    font-family: "Manrope", sans-serif;
    line-height: 1.4;
    color: rgb(72, 85, 106);

    & h1 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    & p {
      font-size: 18px;
      color: rgb(109, 127, 151);
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
}

.profile {
  display: flex;
  justify-content: space-between;

  & .profile-information {
    display: flex;
    justify-content: flex-start;
    gap: 30px;

    & img {
      border-radius: 50%;
      width: 70px;
      height: 70px;
    }

    & .bio {
      display: flex;
      justify-content: center;
      align-items: center;

      & h3 {
        font-weight: 900;
        color: rgb(72, 85, 106);
      }

      & p {
        margin-bottom: 0;
      }
    }
  }

  & button {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: relative;

    & img {
      width: 40%;
      height: 40%;
    }

    & .share {
      background: rgb(72, 85, 106);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 250px;
      padding: 16px 40px;
      border-radius: 10px;
      position: absolute;
      bottom: 90px;
      left: -92px;
      z-index: 0;

      &.share::after {
        content: "";
        width: 30px;
        height: 30px;
        background-color: rgb(72, 85, 106);
        position: absolute;
        left: 45%;
        top: 55%;
        transform: rotate(45deg);
        z-index: -1;
      }

      & p {
        font-size: 14px;
        font-family: "Manrope", sans-serif;
        color: rgb(158, 175, 194);
        margin-right: 10px;
        margin-bottom: 0;
        letter-spacing: 2px;
      }

      & img {
        width: 20px;
        border-radius: 0;
      }
    }
  }
}

/*MOBILE DESIGN*/

@media only screen and (max-width: 768px) {
  #share {
    display: none;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0;

    & section {
      height: 60%;
      flex-grow: 8;
    }

    & img {
      width: 100%;
      height: 230px;
      border-radius: 10px 10px 0 0;
    }

    & .data {
      padding: 35px;
      border-radius: 0 0 10px 10px;
    }

    & .text {
      & h1 {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      & p {
        font-size: 14px;
        color: rgb(109, 127, 151);
        font-weight: 400;
        margin-bottom: 20px;
        letter-spacing: 1px;
      }
    }
  }

  .profile {
    & .profile-information {
      & img {
        width: 50px;
        height: 50px;
      }

      & h3 {
        font-size: 15px;
      }

      & p {
        font-size: 13px;
      }
    }

    & button {
      width: 45px;
      height: 45px;
    }
  }
}

/* #share-mobile {
  display: none;
} */

section {
  & .share-mobile {
    background: rgb(72, 85, 106);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 15%;
    padding: 16px 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;

    #p-share-mobile {
      font-size: 15px;
      font-family: "Manrope", sans-serif;
      color: rgb(158, 175, 194);
      margin-right: 10px;
      margin-bottom: 0;
      letter-spacing: 2px;
    }

    & img {
      width: 20px;
      height: 20px;
      border-radius: 0;
    }
  }
}

.btn-mobile {
  margin-left: 30px;
  width: 10px;
  height: 10px;
  background-color: rgb(99, 112, 134);

  & img {
    fill: rgb(255, 255, 255);
  }
}

.attribution {
  display: none;
}

@media only screen and (min-width: 768px) {
  section {
    & .share-mobile {
      display: none;
    }
  }
}

.display {
  display: none;
}
